@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/YekanBakh-Heavy.630c4fa4.woff");
}

@font-face {
    font-family: "YekanBakh";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/YekanBakh-Medium.f7360956.woff");
}


/* @font-face {
    font-family: "Kalameh";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/WebFonts/_Woff/KalamehWeb-Black.woff") format("woff");
}

@font-face {
    font-family: "Kalameh";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/WebFonts/_Woff/KalamehWeb-Bold.woff") format("woff");
}

@font-face {
    font-family: "Kalameh";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/WebFonts/_Woff/KalamehWeb-Regular.woff") format("woff");
}

@font-face {
    font-family: "Kalameh";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/WebFonts/_Woff/KalamehWeb\(FaNum\)-Black.woff") format("woff");
}

@font-face {
    font-family: "Kalameh";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/WebFonts/_Woff/KalamehWeb\(FaNum\)-Bold.woff") format("woff");
}

@font-face {
    font-family: "Kalameh";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/WebFonts/_Woff/KalamehWeb\(FaNum\)-Regular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/WebFonts/_Woff/Gilroy-Bold.woff") format("woff");
} */

:root {
    --color-background: #07101D;
    --color-orange: #FF3C00;
    --color-text: #949494;
    --border-00FF1A: 1px solid #00FF1A;
    --border-5300FF: 1px solid #5300FF;
    --border-FF1F00: 1px solid #FF1F00;
    --color_07101D: #07101D;
    --color-gradient1: linear-gradient(90deg, #7011AD 0%, #BC0505 49.31%, #FC630F 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
}

body {
    font-family: "YekanBakh";
    background-color: var(--color-background);
}

header::before {
    content: '';
    width: 904px;
    height: 876px;
    background-image: radial-gradient(#3D0D58 38%, #070F1C 0);
    position: absolute;
    filter: blur(74px);
    opacity: 0.4;
    right: -274px;
    top: -273px;
    z-index: -1;
}

header::after {
    content: "";
    background-image: url(../images/Group\ 1.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    z-index: -2;
}

.w_60 {
    width: 60%;
}

.w_40 {
    width: 40%;
}

.right_16 {
    right: 16px;
}

.top_5 {
    top: 1rem;
}

.padding_button {
    padding-right: 3.5rem;
}

.color-orange {
    color: var(--color-orange);
}

.bg-orange {
    background-color: var(--color-orange);
}

.color-text {
    color: var(--color-text);
}

.border-00FF1A {
    border: var(--border-00FF1A);
}

.border-5300FF {
    border: var(--border-5300FF);
}

.border-FF1F00 {
    border: var(--border-FF1F00);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--color-orange) !important;
    border-bottom: 1px solid var(--color-orange);
    width: max-content;
}

.main-header-title {
    font-size: 3.5rem;
}

.background_gradient1 {
    background-image: var(--color-gradient1);
}

.header_main_image {
    width: 77%;
    transform: rotate(13.3deg);
    left: 48px;
    top: 0px;
    border-radius: 61px;
}

.header_image_backdrop {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#3D0D58 58%, #070F1C 0);
    filter: blur(74px);
    top: -68px;
    right: -121px;
    z-index: -1;
}

.main_image_header::before {
    content: "";
    background-image: url("../images/Path.png");
    width: 45px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    top: 22px;
    right: -45px;
}

.main_image_header::after {
    content: "";
    background-image: url("../images/Path1.png");
    width: 68px;
    height: 32px;
    position: absolute;
    background-repeat: no-repeat;
    bottom: -22px;
    left: 15px;
}

.count_user_site {
    position: absolute;
    width: 297.91px;
    height: 78.99px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    backdrop-filter: blur(6px);
}

.count_user_img {
    width: 114.96px;
    height: 45.49px;
}

.width_54 {
    width: 54%;
}

.font_size_24 {
    font-size: 1.5rem;
}

.icon_header_container {
    width: 81px;
    height: 81px;
}

.wallet_box {
    padding: 1px;
    height: 188px;
}

.wallet_box_1 {
    background-image: linear-gradient(to right bottom, #07101D, #FC280C);
}

.wallet_box_2 {
    background-image: linear-gradient(to right bottom, #07101D, #00D1FF);
}

.wallet_box_3 {
    background-image: linear-gradient(to right bottom, #07101D, #760AFF);
}

.wallet_box_4 {
    background-image: linear-gradient(to right bottom, #07101D, #FE007A);
}

.wallet_box_5 {
    background-image: linear-gradient(to right bottom, #07101D, #FFBF1C);
}

.inner_wallet-box {
    background-color: #091627;
}

.corner_wallet-box {
    width: 43.3px;
    height: 22.17px;
    bottom: 0;
    right: -18px;
    background-color: var(--color-background);
    transform: rotate(-52.75deg);
    -webkit-transform: rotate(-52.75deg);
    -moz-transform: rotate(-52.75deg);
    -ms-transform: rotate(-52.75deg);
    -o-transform: rotate(-52.75deg);
}

.corner_wallet-box-1 {
    border-top: 1px solid #FC280C;
}

.corner_wallet-box-2 {
    border-top: 1px solid #00D1FF;
}

.corner_wallet-box-3 {
    border-top: 1px solid #760AFF;
}

.corner_wallet-box-4 {
    border-top: 1px solid #FE007A;
}

.corner_wallet-box-5 {
    border-top: 1px solid #FFBF1C;
}

.hot__bides-box {
    background-color: #FFFFFF1A;
}

.hot__bides-box-info {
    top: 9px;
    left: 20px;
}

.hot__bides-box-info div {
    background: #FFFFFF1A;
    backdrop-filter: blur(5px);
}

.hot__bides-box-bottom h5,
.hot__bides-box-bottom>p {
    font-family: "YekanBakh";
}

.site__info-box-1 {
    background: linear-gradient(106.88deg, rgba(0, 255, 26, 0.1) 19.63%, rgba(255, 255, 255, 0.1) 98.74%);
    border: 1px solid #00FF1A
}

.site__info-box-2 {
    background: linear-gradient(106.88deg, rgba(74, 1, 224, 0.1) 19.63%, rgba(255, 255, 255, 0.1) 98.74%);
    border: 1px solid #5300FF;
}

.site__info-box-3 {
    background: linear-gradient(106.88deg, rgba(255, 19, 4, 0.1) 19.63%, rgba(255, 255, 255, 0.1) 98.74%);
    border: 1px solid #FF1F00
}

.site__info-box-text {
    font-weight: 100 !important;
    font-size: 1.2rem;
    line-height: 34px;
}

.site__info-box-label {
    top: -51px;
    right: 32px;
    width: 90px;
    height: 89px;
    backdrop-filter: blur(50px);
    background: #FFFFFF14;
    border: 1px solid #FFFFFF80;
}

.trends__box {
    margin-top: -100px;
}

.trends__box-caption {
    background: #FFFFFF1A;
    height: 214px;
}

.trend__box-image-wrapper {
    transform: translateY(111px);
    -webkit-transform: translateY(111px);
    -moz-transform: translateY(111px);
    -ms-transform: translateY(111px);
    -o-transform: translateY(111px);
    width: 90%;
}

.trend__box-image {
    width: 90%;
}

.trends__box-caption-title {
    padding-top: 7rem;
}

.top__creators-box {
    background: #FFFFFF1A;
    border: 2px solid #FFFFFF33
}

.section_news_letters {
    background: linear-gradient(90deg, #A50E86 0.16%, #C10B70 24.02%, #E83947 38.73%, #DF330D 55.88%, #C55212 81.05%, #D37506 100%);
    height: 324px;
}

.cover_bg_news_letters {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 149px 0 rgba(255, 255, 255, 0.6);
}

.section_news_letters::before {
    content: '';
    background-image: url('../images/Group\ 122.png');
    width: 982.714px;
    height: 726.266px;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
}

.section_news_letters::after {
    content: '';
    background-image: url('../images/Group\ 123.png');
    width: 982.714px;
    height: 726.266px;
    position: absolute;
    background-repeat: no-repeat;
    right: -31rem;
    bottom: -27rem;
}

.bg_07101D {
    background-color: var(--color_07101D) !important;
}

.Ellipse_4 {
    filter: blur(50px);
    top: -11%;
    right: -12%;
    width: 615px;
    height: 584px;
    background: radial-gradient(62.37% 62.37% at 50% 50%, rgba(8, 52, 164, 0.20) 21.7%, rgba(7, 15, 28, 0.00) 100%);
    -webkit-filter: blur(50px);
}

.icon_footer_link {
    background-color: rgba(255, 255, 255, 0.10);
    width: 52px;
    height: 52px;
}

.icon_footer_instagram {
    background: linear-gradient(90deg, #9A5BFF 0%, #FF1212 53.12%, #FF7F56 100%) !important;
}

footer {
    background-color: #091028;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width:1200px) {
    .hot__bides-box-info {
        left: 15px
    }

    .hot__bides-box-info>div {
        font-size: 1rem !important;
    }

    .hot__bides-box-info img {
        width: 25px;
    }
}

@media screen and (max-width:992px) {
    .bg_dark {
        background-color: #0a162b;
    }

    header::before {
        display: none;
    }

    .main-header-title {
        font-size: 2.5rem;
    }

    .main_image_header {
        width: 70%;
        margin: 0 auto;
    }

    .count_user_site {
        width: 217.91px;
        height: 58.99px;
        right: -32px;
    }

    .count_user_img {
        width: 64.96px;
        height: auto;
    }

    .font_size_24 {
        font-size: 1.1rem;
    }

    .main_image_header::after {
        bottom: -3px;
        left: -38px;
    }

    .w_70 {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .main-header-title {
        font-size: 2rem;
    }

    .main-header-text {
        font-size: 1.1rem !important;
    }

    .icon_header_container {
        width: 60px;
        height: 60px;
    }

    .icon_header_container img {
        width: 40px;
    }

    .header_title {
        font-size: 20px !important;
    }

    .header_subtitle,
    .arro_text {
        font-size: 12px !important;
    }

    .arrow_icon {
        width: 28px;
    }

    .hot__bides-box-info>div {
        font-size: 1.5rem !important;
    }

    .hot__bides-box-info img {
        width: auto;
        padding: 0.5rem;
    }

    .box-btn {
        padding: 0.75rem 4.5rem !important;
        font-size: 1.5rem !important;
    }
}